<div class="col-auto">
    <label for="new-<%= field %>">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Starting: <%- data.values[0].name %></div>
            </div>
            <input name="<%= (typeof fieldName !== 'undefined') ? fieldName : data.values[0].name %>" type="number" class="form-control char-input char-input-text" id="new-<%= field %>" value="<%= defaultValue %>" autocorrect="off" autocapitalize="off" spellcheck="false" required />
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Starting: <%- data.values[1].name %></div>
            </div>
            <input name="<%= (typeof fieldName !== 'undefined') ? fieldName : data.values[1].name %>" type="number" class="form-control char-input char-input-text" id="new-<%= field %>" value="<%= defaultValue %>" autocorrect="off" autocapitalize="off" spellcheck="false" required />
        </div>
    </label>
</div>